<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field-avatar">
    <%= form.label :avatar, 'Seleccionar imagen de perfil' %>
    <%= form.file_field :avatar, id: :profile_avatar %>
  </div>

  <div class="field field-avatar">
    <%= form.label :cover, 'Seleccionar cover' %>
    <%= form.file_field :cover, id: :profile_cover %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :profile_username %>
  </div>

  <div class="field">
    <%= form.label :fullname %>
    <%= form.text_field :fullname, id: :profile_fullname %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :profile_bio %>
  </div>

  <div class="field">
    <%= form.label :instagram %>
    <%= form.text_field :instagram, id: :profile_instagram %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook, id: :profile_facebook %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter, id: :profile_twitter %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
