<section class="header-user-profile">
    <section class="bg-cover" style="background-image: url(<%= @profile.cover %>);"></section>
    <section class="header-user-profile-center">
       <section class="main-profile-info-container">
            <section class="profile-info">

               <a class="image-profile" style="background-image: url(<%= @profile.avatar %>);"></a>
                <article class="info">
                    <h1><%= @profile.username %></h1>

                    <% if current_user == @profile.user %>

                      <%= link_to my_profile_path, class:"editar" do %>
                         <i class="far fa-edit"></i> Editar Perfil
                       <% end %>
                    <% end %>

                    <p><span><%= @user_profile.profile.fullname %></span>
                      <%= @profile.bio %></p>

                    <% if current_user != @profile.user %>
                    <div id="follow-btn-<%= @profile.user.id %>">

                        <% if current_user.following?(@profile.user) %>
                          <div class="follow-blo">
                            <p class="siguiendo"><i class="fas fa-user-plus"></i> Siguiendo</p>
                            <%= link_to 'Dejar de seguir', follow_profile_path(@profile.user, @profile.user), method: :put, class: 'disable', remote: true %>
                          </div>
                        <% else %>
                          <%= link_to 'Seguir', follow_profile_path(@profile.user, @profile.user), method: :put, remote: true %>
                        <% end %>

                    </div>
                    <% end %>

                </article>
            </section>

            <section class="profile-info-foot">
                <section class="follows-dats">
                    <a href="#" data-toggle="modal" data-target="#modalFriendsSeguidores"><span id="follow-count-<%= @profile.user.id %>"><%= @profile.user.followers.count %></span> seguidores</a>
                    <a href="#" data-toggle="modal" data-target="#modalFriends"><span id="following-count-<%= @profile.user.id %>"><%= @profile.user.all_following.count %> </span> seguidos</a>
                </section>

                <!-- Modal de amigos seguidores -->
                <div class="modal fade modal-custom" id="modalFriendsSeguidores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content modal-content-custom">

                      <h1>Seguidores</h1>

                      <% @profile.user.followers_by_type('User').each do |user_profile| %>
                         <%= render 'partials/follower-profile-seguidores', user_profile: user_profile.profile %>
                      <% end %>

                    </div>
                  </div>
                </div>

                <!-- Modal de amigos seguidos -->
                <div class="modal fade modal-custom" id="modalFriends" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content modal-content-custom">

                      <h1>Seguidos</h1>

                      <% @profile.user.following_by_type('User').each do |user_profile| %>
                         <%= render 'partials/follower-profile-seguidos', user_profile: user_profile.profile %>
                      <% end %>

                    </div>
                  </div>
                </div>



                <section class="social-menu">
                    <nav>
                        <ul>
                            <% if @profile.instagram != '' %>
                              <li> <a href="https://www.instagram.com/<%= @profile.instagram %>" target="_blank"><i class="fab fa-instagram"></i></a> </li>
                            <% end %>
                            <% if @profile.facebook != '' %>
                              <li> <a href="https://www.facebook.com/<%= @profile.facebook %>" target="_blank"><i class="fab fa-facebook-f"></i></a> </li>
                            <% end %>
                            <% if @profile.twitter != '' %>
                              <li> <a href="https://www.twitter.com/<%= @profile.twitter %>" target="_blank"><i class="fab fa-twitter"></i></a> </li>
                            <% end %>
                        </ul>
                    </nav>
                </section>
            </section>
        </section>
    </section>
</section>


<section class="wrap-profile">
    <section class="wrap-profile-center">

       <div id="tabs-container">

        <ul class="tabs-menu">
            <li class="current"><a href="#tab-1">publicaciones</a></li>
            <li><a href="#tab-2">instagram feed</a></li>
        </ul>

        <div class="tab">

            <div id="tab-1" class="tab-content">

              <section class="post">

                 <article class="publicar">

                  <h1>crear una publicación</h1>

                    <%= render 'posts/form', post: Post.new %>

                 </article>

                 <%= render 'partials/post-profile' %>

                 <i class="fa fa-spinner fa-spin"></i>

              </section>

              <section class="sidebar-post">
                 <article class="friend">
                     <h1>seguidores</h1>

                     <div class="grid-friends">

                         <% @profile.user.following_by_type('User').each do |user_profile| %>
                            <%= render 'partials/follower-index', profile: user_profile.profile %>
                        <% end %>

                     </div>

                     <h1>instagram feed</h1>

                     <div class="grid-insta">
                          <div id="instagram-feed4" class="instagram_feed"></div>

                          <script>
                               (function($){
                                   window.addEventListener('turbolinks:load', function(){
                                       $.instagramFeed({
                                           'username': '<%= @profile.instagram %>',
                                           'container': "#instagram-feed4",
                                           'display_profile': true,
                                           'display_gallery': true,
                                           'items': 11,
                                           'items_per_row': 5,
                                           'margin': 0.5
                                       });
                                   });
                               })(jQuery);
                           </script>

                     </div>

                 </article>
              </section>


            </div>

            <div id="tab-2" class="tab-content">

                <section class="instagram-full-grid">
                    <div id="instagram-feed6" class="instagram_feed"></div>

                          <script>
                               (function($){
                                   $(window).on('load', function(){
                                       $.instagramFeed({
                                           'username': '<%= @profile.instagram %>',
                                           'container': "#instagram-feed6",
                                           'display_profile': true,
                                           'display_gallery': true,
                                           'items': 12,
                                           'items_per_row': 5,
                                           'margin': 0.5
                                       });
                                   });
                               })(jQuery);
                           </script>
                </section>

            </div>

        </div>
    </div>

    </section>
</section>

<%= render 'partials/footer-inter' %>

<script>
  $(".new_comment").keyup(function (event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){

        // var post_id = $(this).parent().parent().attr("id");
        var post_id = $(this).attr("id").split("-")[1]
        $.ajax({
          url: '/posts/'+ post_id +'/comments',
          type: 'post',
          dataType: 'script',
          data: {content: $(this).val()}
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });


    }
  })
</script>
