<section class="form-login form-register">
  <article class="sesion-bloque">

    <div class="sesion-bloque-content">
      <h1>Cuando esta casa esté de fiesta
      no te molestes en tocar
    <span>solo entra</span></h1>

    <p>Podrás interactuar, navegar, comprar, compartir.
Siempre fuimos amantes de vivir a full la vida y las experiencias
y si sientes la misma necesidad, este sitio es para ti
Bienvenid@s</p>
    </div>

    <div class="bg-login"></div>

  </article>

  <article class="form-bloque">

    <%= image_tag("Logo-atoallae-int.svg", :alt => "Logo Atoallae") %>

    <h2>Crea tu cuenta en nuestro sitio</h2>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, placeholder: "Nombre" %>
      </div>

      <div class="field">
        <%= f.email_field :email, autocomplete: "email", placeholder: "E-mail" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (mínimo 6 caracteres)" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmar password" %>
      </div>

      <div class="actions">
        <%= f.submit "Crear Cuenta" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </article>

</section>
