<header class="main-header">

  <% if user_signed_in? %>

  <section class="header-inter-center">

     <nav class="navbar navbar-expand-lg container-fullwidth custom-nav">

      <a href="<%= home_index_path %>"> <%= image_tag("Logo-atoallae-int.svg", :alt => "Logo Atoallae") %> </a>

       <div class="der-bloque">


       <div class="user-top-info">
           <a href="<%= profile_path(current_user.profile) %>" style="background-image: url(<%= current_user.profile.avatar %>);" class="user"></a>
           <span><%= current_user.profile.fullname %></span>

           <%= link_to 'Actividad', posts_path, class: 'activity-navbar' %>
       </div>

       <%= form_tag searching_path, method: :get do %>
         <i class="fas fa-search"></i>
         <%= text_field_tag :search, params[:search], placeholder: 'Buscar Amigos' %>
       <% end %>

         <% if current_user.orders.count > 0 %>
           <a href="<%= orders_path %>" class="cart"><%= image_tag("cart-active.svg", :alt => "Carrito compra") %></a>
         <% else %>
           <a href="<%= orders_path %>" class="cart"><%= image_tag("cart.svg", :alt => "Carrito compra") %></a>
         <% end %>

         <a href="" class="bell">
             <%= image_tag("bell.svg", :alt => "Bell icon") %>
         </a>

       <div class="dropdown ">

          <button class="btn nav-custom-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag("menu.svg", :alt => "Menu") %>
          </button>
          <div class="dropdown-menu show-custom" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Actividad', posts_path, class: 'dropdown-item' %>
            <%= link_to 'Mis paginas', my_pages_path, class: 'dropdown-item' %>
            <%= link_to 'Paginas', pages_path, class: 'dropdown-item' %>
            <%= link_to 'Mis Eventos', my_events_path, class: 'dropdown-item' %>
            <%= link_to 'Store', products_path, class: 'dropdown-item' %>
            <% if current_user.admin? %>
              <%= link_to 'Nuevo Producto', new_product_path, class: 'dropdown-item' %>
            <% end %>
            <a href="<%= destroy_user_session_path %>" data-method="DELETE" class="dropdown-item">Cerrar Sesión</a>
          </div>
        </div>

        </div>
    </nav>

   </section>

  <% else %>

  <a href="<%= home_index_path %>"> <%= image_tag("Logo-atoallae.svg", :alt => "Logo Atoallae") %> </a>

  <nav>
      <ul>
          <li><a href="<%= new_user_session_path %>">Iniciar Sesión</a></li>
          <li><a href="<%= new_user_registration_path %>" class="main-link">Crear Cuenta</a></li>
          <li><a href="https://www.instagram.com/atoallae/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/atoallae/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      </ul>
  </nav>

  <% end %>

  <section class="search" id="search-block">
    <section class="center-search">
      <p>Busca a tus amigos</p>

      <%= form_tag searching_path, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Buscar Amigos' %>
        <%= button_tag type: 'submit', name: nil  do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>

      <a href="" class="close"><i class="far fa-times-circle"></i></a>

    </section>
  </section>

</header>
