<% @profile.user.posts.reverse_each do |post| %>

<article class="post-users">
  <% if current_user == post.user %>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
          </a>
          <div class="dropdown-menu show-custom" aria-labelledby="navbarDropdown">

            <%= link_to 'Editar Post', edit_post_path(post), class: 'dropdown-item' %>
            <%= link_to 'Eliminar Post', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>


          </div>
        </li>
      </ul>
    </div>
  </nav>

  <% end %>

      <div class="post-user-header">
          <a href="<%= profile_path(post.user.profile) %>" style="background-image: url(<%= post.user.profile.avatar %>);"></a>
          <div class="info-user-header">

              <%= link_to post.user.profile.fullname, profile_path(post.user.profile), class: 'name-user' %>
              <a href="#" class="date">25 feb 2020</a>
          </div>
      </div>
      <div class="post-user-content-body">
          <p><%= post.texto %></p>
      </div>
      <div class="post-user-footer">

    <div class="info-feed">

      <div class="bloque">

          <%= link_to image_tag( (current_user.liked? post)? 'heart-active.svg' :'heart.svg', alt: "Heart active like icon"), like_post_path(post), class: 'heart-'+ post.id.to_s, method: :put, remote: true %>
          <span class="likescount-<%= post.id %>"><%= post.get_likes.size %></span>



          <%= link_to post do %>
          <%= image_tag("comment.svg", :alt => "Comment Icon") %>
          <span id="total-comments-<%= post.id %>"><%= post.comments.count %></span>
          <% end %>
      </div>

      <div class="bloque-2">
        <nav id="like-aj-img-<%= post.id.to_s %>">
          <% post.get_likes.by_type(User)[0,3].each  do |image| %>
            <%= link_to "#", :id => 'user_like'+post.id.to_s+"-"+image.id.to_s, "data-toggle" => "modal", 'data-target' => '#modalLikes'+post.id.to_s do %>
              <%= image_tag( image.voter.profile.avatar, :alt => "Comment Icon") %>
            <% end %>
          <% end %>
        </nav>

          <p class="section-users-<%= post.id %>">

             <% if (post.get_likes.by_type(User).count > 0 && post.get_likes.by_type(User).count == 1) %>
               <span class="name"><%= post.get_likes.by_type(User).last.voter.profile.username %></span> le gusta esto

             <% elsif (post.get_likes.by_type(User).count > 1 ) %>
               <span class="name"><%= post.get_likes.by_type(User).last.voter.profile.username %></span> y a <span class="num" id="like-aj-count"><%=(post.get_likes.size.to_i - 1) %></span> personas más les gusta esto
             <% else %>

             <% end %>

          </p>

      </div>

    </div>

    <!-- Modal de amigos que han dado like -->
    <div class="modal fade modal-custom" id="modalLikes<%= post.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-custom">

          <h1>Amigos que les gusta tu post</h1>

          <nav id="like-aj-img-modal-<%= post.id.to_s %>" class="likes-modal">

            <% post.get_likes.by_type(User)[0,3].each  do |usermodal| %>
              <%= link_to "#", :id => 'user_like_modal'+post.id.to_s+"-"+usermodal.id.to_s do %>
                <%= image_tag( usermodal.voter.profile.avatar, :alt => "Comment Icon") %>

                <p><%= usermodal.voter.profile.username %>
                <span><%= usermodal.voter.profile.fullname %></span></p>


              <% end %>
            <% end %>

          </nav>

        </div>
      </div>
    </div>

    <% if post.comments.count > 0 %>
    <div class="comment-feeds">
        <a href="#" style="background-image: url(<%= post.comments.last.user.profile.avatar %>);" class="comment-img-<%= post.id %>"></a>

        <div class="comment-write comment-write-<%= post.id %>">
            <h1><%= post.comments.last.user.profile.username %></h1>
            <p><%= post.comments.last.content %></p>
            <!-- <a href=""> <img src="images/heart.svg" alt=""> <span>30</span> </a> -->
        </div>

    </div>

    <div class="comment-feeds">
        <%= link_to post, class: 'mas-comment' do%>
          <%= image_tag("comment.svg", :alt => "Comment Icon") %> Ver más comentarios
        <% end %>
    </div>
    <% end %>



    <div class="user-comment">

        <a href="<%= my_profile_path %>" style="background-image: url(<%= current_user.profile.avatar %>);" class="user"></a>

        <% if user_signed_in? %>
        <input id="new_comment-<%= post.id %>" type="text" class="new_comment" placeholder="Escribe un comentario">
        <% else %>
          Para comentar, debes estar <a href="<%= new_user_session_path %>">logeado</a>
        <% end %>

    </div>

    </div>

</article>
<% end %>
