<%= form_with(model: [@page, @event], local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :título %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :descripción %>
    <%= form.text_field :description, id: :event_description %>
  </div>

  <div class="field field-avatar">
    <%= form.label :eventimage, 'Seleccionar imagen' %>
    <%= form.file_field :eventimage, id: :event_eventimage %>
  </div>

  <div class="field">
    <%= form.label :lugar %>
    <%= form.text_field :place, id: :event_place %>
  </div>

  <div class="field">
    <%= form.label :dirección %>
    <%= form.text_field :map, id: :event_map %>
    <span>Buscar la dirección en google maps y pegar aquí el link</span>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :event_date %>
    <span>Formato recomendado: Día, mes y año (29 Febrero 2020)</span>
  </div>

  <div class="actions">
    <%= form.submit "Publicar" %>
  </div>
<% end %>
