<section class="bg-event-sticky" style="background-image: url('<%= @event.eventimage %>');">
  <div class="bg-trame"></div>
</section>
<section class="show-event">

  <section class="show-event-center">

    <div class="info-event-content">

        <h2><a href=""><img src="<%= @event.page.image %>" alt="<%= @event.page.name %>" title="Foto perfil página <%= @event.page.name %>"></a>
          Realizado por <span><%= @event.page.name %></span></h2>

        <span class="tag">evento atoallae</span>
        <h1><%= @event.title %></h1>
        <p><%= @event.description %></p>

        <nav>
          <ul>
            <% if current_user.liked? @event %>
              <span><i class="fas fa-user-plus"></i> Asistirás a este evento</span>
              <%= link_to 'No asistir', like_page_event_path(@event), method: :put, class: 'no-asistir' %>
            <% else %>
              <%= link_to 'Asistir', like_page_event_path(@event), method: :put %>
            <% end %>

          </ul>
        </nav>

        <div class="asist-event">

          <a href="" class="access-to-asist" data-toggle="modal" data-target="#modalAsistentes">
            <% @event.get_likes.by_type(User)[0,3].each  do | image| %>
            <img src="<%= image.voter.profile.avatar %>" alt="">
            <% end %>
          </a>

          <% if @event.get_likes.size > 0 %>

            <p><span><%= @event.get_likes.by_type(User).last.voter.profile.username %></span>

              <% if @event.get_likes.size.to_i > 1 %>
                y otras <span><%= ( @event.get_likes.size.to_i - 1 ) %></span> personas asistirán al evento
              <% else %>
                asistirá a este evento
              <% end %>
            </p>

          <% end %>

        </div>

    </div>

  </section>

  <!-- Modal de amigos seguidores -->
  <div class="modal fade modal-custom" id="modalAsistentes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-custom">

        <h1>Asistentes al evento
          <% if @event.get_likes.size.to_i > 1 %>
          <span><strong><%= @event.get_likes.size %></strong> personas asistirán</span>
          <% else %>
          <span><strong><%= @event.get_likes.size %></strong> persona asistirá</span>
          <% end %>
          </h1>

        <% @event.get_likes.by_type(User).each  do | user_info| %>

        <div class="asist-content">
          <div class="asist-bloque">
            <img src="<%= user_info.voter.profile.avatar %>" alt="">
            <div class="asist-info">
              <a href="<%= profile_path(user_info.voter.profile) %>"><%= user_info.voter.profile.username %></a>
              <p><%= user_info.voter.profile.username %></p>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>


  <% if (user_signed_in? && @event.user == current_user) %>
  <%= link_to edit_page_event_path(@event.page, @event), class:"editar-evento" do %>
     <i class="far fa-edit"></i> Editar información del evento
   <% end %>
  <% end %>

  <section class="content-body-event">

    <img src="<%= @event.eventimage %>" alt="">

    <div class="info-event-bloque">
      <h1><%= @event.title %></h1>
      <p><%= @event.description %></p>
      <p class="place"><strong>Lugar:</strong> <%= @event.place %></p>
      <a href="<%= @event.map %>" target="_blank" class="maps"><%= image_tag("g-maps.svg", :alt => "Google Maps icono") %> Ver ubicación en Googel Maps</a>
      <p class="date"><strong>Fecha:</strong> <%= @event.date %></p>

    </div>



  </section>


</section>

<p id="notice"><%= notice %></p>

<%= render 'partials/footer-inter' %>
