<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<% if current_user.liked? @event %>
  <%= link_to 'No asistir', like_page_event_path(@event), method: :put %>
<% else %>
  <%= link_to 'Asistir', like_page_event_path(@event), method: :put %>
<% end %>

<small><%= @event.get_likes.size %></small>

<%= link_to 'Edit', edit_page_event_path(@event.page, @event) %> |
<%= link_to 'Back', page_path(@event.page) %>
