<section class="bg-event-sticky" style="background-image: url('<%= @event.eventimage %>');">
  <div class="bg-trame"></div>
</section>
<section class="show-event">

  <section class="show-event-center">

    <div class="info-event-content">

        <h2>Realizado por <%= image_tag("user-14.jpg", :alt => "Logo Atoallae") %></h2>

        <span class="tag">evento atoallae</span>
        <h1><%= @event.title %></h1>
        <p><%= @event.description %></p>

        <nav>
          <ul>
            <% if current_user.liked? @event %>
              <span><i class="fas fa-user-plus"></i> Asistir치s a este evento</span>
              <%= link_to 'No asistir', like_page_event_path(@event), method: :put, class: 'no-asistir' %>
            <% else %>
              <%= link_to 'Asistir', like_page_event_path(@event), method: :put %>
            <% end %>
            <a href="#">M치s info del evento</a>

          </ul>
        </nav>

    </div>

  </section>



  <%= link_to edit_page_event_path(@event.page, @event), class:"editar-evento" do %>
     <i class="far fa-edit"></i> Editar informaci칩n del evento
   <% end %>

  <section class="content-body-event">

    <img src="<%= @event.eventimage %>" alt="">

    <div class="info-event-bloque">
      <h1><%= @event.title %></h1>
      <p><%= @event.description %></p>
      <p class="place"><strong>Lugar:</strong> <%= @event.place %></p>
      <a href="<%= @event.map %>" target="_blank" class="maps"><%= image_tag("g-maps.svg", :alt => "Google Maps icono") %> Ver ubicaci칩n en Googel Maps</a>
      <p class="date"><strong>Fecha:</strong> <%= @event.date %></p>

      <small><%= @event.get_likes.size %></small>

      <%= link_to 'Back', page_path(@event.page) %>
    </div>



  </section>


</section>

<p id="notice"><%= notice %></p>
