<section class="order-wrap">
  <section class="order-wrap-center">

    <% if @orders.count > 0 %>

    <h1>Tu compra</h1>

    <% @orders.each do |order| %>
    <article class="product-wrap">

      <div class="detail-product">
        <img src="<%= order.stock.product.imagen %>" alt="">
        <div>
          <h1><%= order.stock.product.name %></h1>
          <span><%= number_to_currency(order.stock.product.stocks.last.price, unit: "$", separator: ",", delimiter: ",", precision: 0) %> CLP</span>


          <p><%= truncate(order.stock.product.description, :length => 60)%></p>
        </div>

      </div>
      <div class="detail-last">
        <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>

    </article>
    <% end %>


    <section class="more-access">

      <%= link_to products_path do %>
        <i class="fas fa-shopping-bag"></i> Seguir comprando
      <% end %>

      <%= link_to products_path do %>
        <i class="fas fa-shopping-bag"></i> Pagar
      <% end %>

    </section>

    <% else %>

    <h1 class="cart-empty"><%= image_tag("carrito.png", :alt => "Carrito Atoallae") %> Tu carro está vacío</h1>
    <p>Accede a <a href="<%= products_path %>">nuestra tienda</a> para comprar productos</p>

    <section class="more-access">

      <%= link_to products_path do %>
        <i class="fas fa-shopping-bag"></i> Visita nuestra Store
      <% end %>

    </section>

    <% end %>

  </section>
</section>
