<section class="wrap-pages">
  <section class="wrap-pages-center">

    <section class="header-pages">
      <section class="bloque">
        <h1>Explorar Páginas ATOALLAE</h1>
        <p>Sigue a las páginas de nuestra red e interactua con los eventos que hay para ti</p>
      </section>
      <section class="bloque">
        <%= link_to 'Crear nueva página', new_page_path, class: 'btn btn-success' %>

        <%= form_tag pages_path, method: :get do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Buscar página' %>
          <%= button_tag type: 'submit', name: nil  do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>

      </section>
    </section>

    <% if @pages.count > 0 %>

    <section class="grid-card-pages">

      <% @pages.each do |page| %>
        <div class="card text-center card-custom">

          <img src="<%= page.cover %>" class="card-img-top">

          <div class="card-body">
              <img src="<%= page.image %>">

            <h5 class="card-title"><%= page.name %></h5>
            <p class="card-text"><%= page.bio %></p>

            <nav>
              <ul>

                <li>
                  <%= link_to page, class: 'ver'  do %>
                     <i class="fas fa-search"></i>
                   <% end %>
                </li>

                <% if (user_signed_in? && page.user == current_user) %>
                <li>
                  <%= link_to edit_page_path(page), class: 'edit'  do %>
                     <i class="far fa-edit"></i>
                   <% end %>
                </li>

                <li>
                  <%= link_to page, method: :delete, data: { confirm: 'Are you sure?' } , class: 'delete'  do %>
                     <i class="fas fa-trash"></i>
                   <% end %>
                </li>
                <% end %>

              </ul>
            </nav>

          </div>

       </div>
     <% end %>

    </section>

    <% else %>
    <section class="grid-card-pages grid-card-pages-custom">
      <h1>N<%= image_tag("Logo-atoallae-int.svg", :alt => "Logo Atoallae") %> HAY RESULTADOS</h1>
      <p>No hemos encontrado resultados que coincidan con tu búsqueda
      <span>Te recomendamos intentarlo nuevamente</span></p>
    </section>
    <% end %>

  </section>
</section>
<%= render 'partials/footer-inter' %>
