<section class="wrap-pages">
  <section class="wrap-pages-center">

    <section class="header-pages">
      <section class="bloque">
        <h1>Explorar Páginas ATOALLAE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae delectus,arum assumenda.</p>
      </section>
      <section class="bloque">
        <%= link_to 'Crear nueva página', new_page_path, class: 'btn btn-success' %>

        <%= form_tag pages_path, method: :get do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag 'Search', name: nil %>
        <% end %>
      </section>
    </section>

    <section class="grid-card-pages">

      <% @pages.each do |page| %>
        <div class="card text-center card-custom">

          <img src="<%= page.cover %>" class="card-img-top">

          <div class="card-body">
              <img src="<%= page.image %>">

            <h5 class="card-title"><%= page.name %></h5>
            <p class="card-text"><%= page.bio %></p>

            <nav>
              <ul>

                <li>
                  <%= link_to page, class: 'ver'  do %>
                     <i class="fas fa-search"></i>
                   <% end %>
                </li>

                <% if (user_signed_in? && page.user == current_user) %>
                <li>
                  <%= link_to edit_page_path(page), class: 'edit'  do %>
                     <i class="far fa-edit"></i>
                   <% end %>
                </li>

                <li>
                  <%= link_to page, method: :delete, data: { confirm: 'Are you sure?' } , class: 'delete'  do %>
                     <i class="fas fa-trash"></i>
                   <% end %>
                </li>
                <% end %>

              </ul>
            </nav>

          </div>

       </div>
     <% end %>



    </section>

  </section>
</section>
<%= render 'partials/footer-inter' %>
