<p id="notice"><%= notice %></p>

<h1>My pages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Cover</th>
      <th>Bio</th>
      <th>User</th>
      <th>Instagram</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= page.image %></td>
        <td><%= page.cover %></td>
        <td><%= page.bio %></td>
        <td><%= page.user %></td>
        <td><%= page.instagram %></td>
        <td><%= page.facebook %></td>
        <td><%= page.twitter %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
