<section class="header-user-profile">
    <section class="bg-cover" style="background-image: url(<%= @page.cover %>);"></section>

    <section class="header-user-profile-center">

       <section class="main-profile-info-container">

            <section class="profile-info">

               <a href="#" class="image-profile" style="background-image: url(<%= @page.image %>);"></a>
                <article class="info">
                    <h1><%= @page.name %></h1>

                      <%= link_to 'Editar Página', edit_page_path(@page), class: 'editar' %>

                      <p><%= @page.bio %></p>


                    <% if current_user.following?(@page) %>
                     <div class="follow-blo">
                       <p class="siguiendo"><i class="fas fa-user-plus"></i> Siguiendo</p>
                       <%= link_to 'Dejar de seguir', follow_page_path(@page), method: :put, class: 'disable' %>
                      </div>
                    <% else %>
                      <%= link_to 'Seguir', follow_page_path(@page), method: :put %>
                    <% end %>



                </article>
            </section>

            <section class="profile-info-foot">
                <section class="follows-dats">
                    <a href="#"><span><%= @page.followers.count %></span> seguidores</a>
                </section>

                <section class="social-menu">
                    <nav>
                        <ul>
                            <% if @page.instagram != '' %>
                              <li> <a href="https://www.instagram.com/<%= @page.instagram %>" target="_blank"><i class="fab fa-instagram"></i></a> </li>
                            <% end %>
                            <% if @page.facebook != '' %>
                              <li> <a href="https://www.facebook.com/<%= @page.facebook %>" target="_blank"><i class="fab fa-facebook-f"></i></a> </li>
                            <% end %>
                            <% if @page.twitter != '' %>
                              <li> <a href="https://www.twitter.com/<%= @page.twitter %>" target="_blank"><i class="fab fa-twitter"></i></a> </li>
                            <% end %>
                        </ul>
                    </nav>
                </section>
            </section>

        </section>

    </section>
</section>












<%= link_to 'Nuevo Evento', new_page_event_path(@page) %>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th>Place</th>
      <th>Date</th>
      <th>Page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page.events.each do |event| %>
      <tr>
        <td><%= event.user %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.place %></td>
        <td><%= event.date %></td>
        <td><%= event.page %></td>
        <td><%= link_to 'Show', page_event_path(@page, event) %></td>
        <td><%= link_to 'Edit', edit_page_event_path(@page, event) %></td>
        <td><%= link_to 'Destroy', page_event_path(@page, event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= render 'partials/footer-inter' %>
