<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

  <% if current_user.following?(@page) %>
    <%= link_to 'Dejar de seguir', follow_page_path(@page), method: :put %>
  <% else %>
    <%= link_to 'Seguir', follow_page_path(@page), method: :put %>
  <% end %>

  <p>Seguidores: <%= @page.followers.count %> </p>

  <% @page.followers.each do |f| %>
  <%= render 'partials/follower', f: f %>

  <% end %>

<p>
  <strong>Image:</strong>
  <%= image_tag(@page.image)%>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag(@page.cover)%>
</p>

<p>
  <strong>Bio:</strong>
  <%= @page.bio %>
</p>

<p>
  <strong>User:</strong>
  <%= @page.user %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @page.instagram %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @page.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @page.twitter %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
<%= link_to 'Nuevo Evento', new_page_event_path(@page) %>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th>Place</th>
      <th>Date</th>
      <th>Page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page.events.each do |event| %>
      <tr>
        <td><%= event.user %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.place %></td>
        <td><%= event.date %></td>
        <td><%= event.page %></td>
        <td><%= link_to 'Show', page_event_path(@page, event) %></td>
        <td><%= link_to 'Edit', edit_page_event_path(@page, event) %></td>
        <td><%= link_to 'Destroy', page_event_path(@page, event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
