<section class="header-user-wall">

    <section class="header-user-wall-center">

       <section class="wall-friends-grid">

          <h1>amigos seguidos</h1>

           <nav>
               <ul>
                 <% current_user.following_by_type('User').each do |user_profile| %>
                    <%= render 'partials/follower-index', profile: user_profile.profile %>
                <% end %>
               </ul>
           </nav>

       </section>


    </section>

</section>

<section class="wrap-profile">
    <section class="wrap-profile-center wrap-profile-center-wall">

       <div id="tabs-container">

        <div class="tab">

            <div id="tab-1" class="tab-content">

              <section class="post">

                 <article class="publicar">

                  <h1>crear una publicación</h1>

                    <%= render 'form', post: @post %>

                 </article>

                 <%= render 'partials/post' %>

                 <i class="fa fa-spinner fa-spin"></i>


              </section>

              <section class="sidebar-post">
                 <article class="friend">

                     <%= render 'partials/sidebar' %>

                 </article>
              </section>


            </div>


        </div>
    </div>

    </section>
</section>

<%= render 'partials/footer-inter' %>

<script>
  $(".new_comment").keyup(function (event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){

        // var post_id = $(this).parent().parent().attr("id");
        var post_id = $(this).attr("id").split("-")[1]
        $.ajax({
          url: '/posts/'+ post_id +'/comments',
          type: 'post',
          dataType: 'script',
          data: {content: $(this).val()}
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });


    }
  })
</script>
