<div class="container">

<h1>Posts</h1>

<%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>

<div class="row">
  <% current_user.my_posts.reverse_each do |post| %>

  <div class="card" style="width: 18rem;" id="<%= post.id %>">
    <div class="card-body">
      <p class="card-text"><%= post.texto %></p>
      <small class="card-text"><%= link_to post.user.name, profile_path(post.user.profile) %></small>

      <% if current_user.liked? post %>
        <%= link_to 'dejar de gustar', like_post_path(post), method: :put %>
      <% else %>
        <%= link_to 'me gusta', like_post_path(post), method: :put %>
      <% end %>

      <small><%= post.get_likes.size %></small>

    </div>
    <div class="card-footer">

    <span id="total-comments-<%= post.id %>"><%= post.comments.count %></span>

    <% if user_signed_in? %>
    <input id="new_comment-<%= post.id %>" type="text" class="new_comment">
    <% else %>
      Para comentar, debes estar <a href="<%= new_user_session_path %>">logeado</a>
    <% end %>


    </div>


  </div>
  <% end %>
</div>

<div class="row">
  <% current_user.all_following_pages.each do |page| %>

    <% page.events.each do |event| %>
      <div>
        <p><%= event.title %></p>
      </div>
    <% end %>

  <% end %>
</div>


</div>


<script>
  $(".new_comment").keyup(function (event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){

        var post_id = $(this).parent().parent().attr("id");
        $.ajax({
          url: '/posts/'+ post_id +'/comments',
          type: 'post',
          dataType: 'script',
          data: {content: $(this).val()}
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });


    }
  })
</script>
