<h1>Posts</h1>

<% @posts.each do |post| %>
<div class="card" style="width: 18rem;" id="<%= post.id %>">
  <div class="card-body">
    <p class="card-text"><%= post.texto %></p>
    <small class="card-text"><%= post.user.name %></small>
  </div>
  <div class="card-footer">

  <span id="total-comments-<%= post.id %>"><%= post.comments.count %></span>
  <input id="new_comment" type="text" class="new_comment">


  </div>


</div>
<% end %>

<%= link_to 'New Post', new_post_path %>

<script>
  $("#new_comment").keyup(function (event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){

        var post_id = $(this).parent().parent().attr("id");
        $.ajax({
          url: '/posts/'+ post_id +'/comments',
          type: 'post',
          dataType: 'script',
          data: {content: $(this).val()}
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });


    }
  })
</script>
