<section class="wrap-profile">
    <section class="wrap-profile-center wrap-profile-center-show">
      <div id="tabs-container">
       <div class="tab">
        <div id="tab-1" class="tab-content tab-content-custom">
          <section class="post">

            <article class="post-users">

              <nav class="navbar navbar-expand-lg navbar-custom">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                      </a>
                      <div class="dropdown-menu show-custom" aria-labelledby="navbarDropdown">

                        <%= link_to 'Editar Post', edit_post_path(@post), class: 'dropdown-item' %>
                        <%= link_to 'Eliminar Post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>


                      </div>
                    </li>
                  </ul>
                </div>
              </nav>

                  <div class="post-user-header">
                      <a href="<%= profile_path(@post.user.profile) %>" style="background-image: url(<%= @post.user.profile.avatar %>);"></a>
                      <div class="info-user-header">

                          <%= link_to @post.user.profile.fullname, profile_path(@post.user.profile), class: 'name-user' %>
                          <a href="#" class="date">25 feb 2020</a>
                      </div>
                  </div>
                  <div class="post-user-content-body">
                      <p><%= @post.texto %></p>
                  </div>
                  <div class="post-user-footer">

                <div class="info-feed">

                    <div class="bloque">

                      <%= link_to image_tag( (current_user.liked? @post)? 'heart-active.svg' :'heart.svg', alt: "Heart active like icon"), like_post_path(@post), class: 'heart-'+ @post.id.to_s, method: :put, remote: true %>
                      <span class="likescount-<%= @post.id %>"><%= @post.get_likes.size %></span>

                        <%= image_tag("comment.svg", :alt => "Comment Icon") %>
                        <span id="total-comments-<%= @post.id %>"><%= @post.comments.count %></span>

                    </div>

                    <div class="bloque-2">
                      <% if @post.get_likes.size > 0 %>
                        <nav>
                          <% @post.get_likes.by_type(User)[0,3].each  do | image| %>
                            <a href="#" style="background-image: url(<%= image.voter.profile.avatar %>);"></a>
                          <% end %>
                        </nav>

                        <p>a <span><%= @post.get_likes.by_type(User).last.voter.profile.username %></span>
                          <% if @post.get_likes.size.to_i > 1 %>
                            y <span><%= ( @post.get_likes.size.to_i - 1 ) %></span> personas más les gusta esto
                          <% else %>
                            le gusta esto
                          <% end %>
                        </p>
                        <% end %>
                    </div>

                </div>

                <div class="comment-feeds comments-new-feed" style="display: none">
                    <a href="#" style="background-image: url('');" class="comment-img-<%= @post.id %>"></a>

                    <div class="comment-write comment-write-<%= @post.id %>">
                        <h1></h1>
                        <p></p>
                    </div>

                </div>

                <% if @post.comments.count > 0 %>
                <% @post.comments.each do |comment|%>
                <div class="comment-feeds">
                    <a href="#" style="background-image: url(<%= comment.user.profile.avatar %>);" class=""></a>

                    <div class="comment-write">
                        <h1><%= comment.user.profile.username %></h1>
                        <p><%= comment.content %></p>
                        <!-- <a href=""> <img src="images/heart.svg" alt=""> <span>30</span> </a> -->
                    </div>

                </div>
                <% end %>
                <% end %>


                <div class="user-comment">

                    <a href="<%= my_profile_path %>" style="background-image: url(<%= current_user.profile.avatar %>);" class="user"></a>

                    <% if user_signed_in? %>
                    <input id="new_comment-<%= @post.id %>" type="text" class="new_comment" placeholder="Escribe un comentario">
                    <% else %>
                      Para comentar, debes estar <a href="<%= new_user_session_path %>">logeado</a>
                    <% end %>

                </div>

                </div>

            </article>
            <%= link_to 'Volver al muro de actividad', posts_path, class: 'volver-show' %>
          </section>

        </div>
       </div>
      </div>


    </section>
</section>

<%= render 'partials/footer-inter' %>

<script>
  $(".new_comment").keyup(function (event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){

        // var post_id = $(this).parent().parent().attr("id");
        var post_id = $(this).attr("id").split("-")[1]
        $.ajax({
          url: '/posts/'+ post_id +'/comments',
          type: 'post',
          dataType: 'script',
          data: {content: $(this).val()}
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });


    }
  })
</script>
